*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;

}
#container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 120px;
}
.imgLogo{
    width: 200px;
    height: 200px;
    margin-bottom: 90px;
}
.imgSurf{
    width: 480px;
    height: 400px;
    border-radius: 10px;
}
.imgSurf:hover{
    transition: 2s;
    scale: 1.1;
}
.container2{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 134px;
}
h3{
    color: white;
}
h2{
    color: #3873a6;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
p{
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;
    
}
.container3{
    display: flex;
    box-sizing: border-box;
    justify-content: center;

}
/* Estilos para desktop */
@media only screen and (min-width: 1024px) {
    body {
      font-size: 16px;
    }
  
    #container {
      height: auto;
    }
  
    .imgLogo {
      margin-bottom: 0;
    }
  
    .container2 {
      margin-top: 20px;
    }
  }
  
  /* Estilos para tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 14px;
    }
  
    #container {
      height: auto;
    }
  
    .imgLogo {
      margin-bottom: 0;
    }
  
    .container2 {
      margin-top: 20px;
    }
  }
  
  /* Estilos para smartphones */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
    }
  
    #container {
      height: auto;
    }
  
    .imgLogo {
      margin-bottom: 0;
    }
  
    .container2 {
      margin-top: 20px;
    }
  }
  