*{
    margin: 0;
    padding: 0;
}
body{

}
#container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 120px;
}
.imgLogo{
    width: 200px;
    height: 190px;
}

.container2{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.item{
    
}
.subContainer2{
    display: flex;
    box-sizing: border-box;
}
.imgCeta{
    margin-bottom: 10px;
    top: 20;
    height: 40px;
    width: 60px;
}
h3{
    display: inline-block;
    margin-right: 5px;
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}