
*{
    margin: 0;
    padding: 0;
}
body{
}

#container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;

}

.container2{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;
    margin-top: 10px;

    
}

.container2 a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3873A6;

}
.item1{
    width: 260px;
    height: 200px;
    margin-top: 60px;
}

.itemNav:hover{
    transition: 2s;
    scale: 1.1;
}
.txtPrincipal{
    margin-top: 70px;
}
.textInicio{
    text-align: center;
    color:#3873A6 ;
}
.txtPrincipal h1{
    font-size: 40px;
}
.imgPeixeE{
    margin-left: 350px;
}
.txtSection2{
    margin-bottom: 70px;
    margin-left: 90px;
}
.txtSection2 h3{
    font-size: 30px;
    font-family: serif;
    color: rgb(0, 0, 0);
}
.txtSection2 h5{
    font-size: 20px;
    font-family: serif;
    color: rgb(0, 0, 0);
}