* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3873a6;
}
header {
  height: 179px;
}
.container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.item {
  width: 400px;
  height: 340px;
}
.container h3 {
  text-align: center;
  font-size: 45px;
  color: white;
  margin-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#imgPrincipal {
  width: 200px;
  height: 200px;
}

#btnLogin {
  margin-top: 55px;
  margin-left: 163px;
  background-color: #2d5696;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#btnLogin:hover{
  transition: 2s;
  scale: 1.1;
  cursor: pointer;
}

input {
  border-radius: 10px;
  height: 30px;
  margin-left: 60px;
  width: 290px;
  margin-top: 30px;
  margin-right: 0px;
  background-color: #b7bdc6;
}
.icones {
  position: absolute;
  width: 38px;
  height: 42px;
  margin-left: 20px;
  margin-top: 20px;
}
.icone2 {
  margin-left: 0px;
  height: 44px;
}
.container2{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 230px;
  
}
.container2 h3{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.navegacao{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.navegacao a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.headerCont{
  display: flex;
  box-sizing: border-box;
  
}
.img{
  height: 250px;
}
.container p{
  margin-left: 68px;
}
#sucessoLogin{
  color: rgb(0, 255, 229);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#erroLogin{
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 581px){
  .container2 h3{
    font-size: 10px;
  }


}
@media screen and (max-width: 320px){
  .container h3{
    margin-left: 50px;
  }


}