*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;

}
#container{
    display: flex;
    box-sizing: border-box;
    

}
.container2{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.container2 h1{
    color: #3873a6;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container2 h3{
    color: #3873a6;
    font-size: 25px;
}
.container3{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: 50px;
 
}
.itemImg{
    height: 480px;
    width: 350px;
}
.container4{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 40px;
}
.container4 h3{
    color: #3873a6;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1024px){
    .itemImg{
        width: 200px;
        height: 400px;
    }
}
@media screen and (max-width: 772px){
    .itemImg{
        width: 150px;
        height: 350px;
    }
    .container2 h1{
        font-size: 30px;

    }
    .container2 h3{
        font-size: 15px;

    }
    .container4 h3{
        font-size: 15px;

    }

    

}
@media screen and (max-width: 479px){
    .itemImg{
        width: 100px;
        height: 200px;
    }
    .container2 h1{
        font-size: 20px;

    }
    .container2 h3{
        font-size: 10px;

    }
    .container4 h3{
        font-size: 10px;

    }
}
@media screen and (max-width: 308px){
    .itemImg{
        width: 70px;
        height: 150px;
    }
    .container2 h1{
        font-size: 15px;

    }
    .container2 h3{
        font-size: 8px;

    }
    .container4 h3{
        font-size: 8px;

    }

}