*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

#container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;

}

.container2{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;
    margin-top: 10px;

    
}

.container2 a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3873A6;

}
.item1{
    width: 260px;
    height: 230px;
    margin-top: 10px;
}
.itemNav:hover{
    transition: 2s;
    scale: 1.1;
}
.txtPrincipal{
    margin-top: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 40px;
    
}
.textInicio{
    text-align: center;
    color:#3873A6 ;
}
.txtPrincipal h1{
    font-size: 40px;
}
.container3{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-bottom: 80px;
}

h3{
    color:white; 
    font-size: 20px;
    text-align: center;
    font-size: 27px;
    margin-top: 10px;

}
.pItem3{
    color: #3873A6;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    letter-spacing: 2px;
    
}
.imgPol{
    width: 650px;
    margin-top: 10px;
    margin-left: 520px;
    
}
.imgOnda{
    width: 650px;
    margin-top: 10px;
    margin-left: 520px;
    
}
.container5{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.pContainer5{
    color: white;
}
.pContato{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.container5 a{
    text-decoration: none;
    color: white;
}
.pLinks{
    margin-bottom: 45px;
    font-size: 20px;

}
.pRedeSocial{
    font-size: 20px;
}

@media screen and (max-width: 2560px){
    .img{
        margin-left: 960px;
    }
}
@media screen and (max-width: 2120px){
    .img{
        margin-left: 540px;
    }
}
@media screen and (max-width: 1432px){
    .img{
        margin-left: 340px;
    }
}
@media screen and (max-width: 1136px){
    .img{
        margin-left: 240px;
    }
}
@media screen and (max-width: 1024px){
    .textInicio{
        margin-left: 80px;
    }
    h3{
        margin-left: 80px;
    }
    .img{
        margin-left: 200px;
    }
    p{
    
    }
    .container3{
        margin-left: 50px;
    }
    .container5{
        margin-left: 40px;

    }

}
@media screen and (max-width: 935px){
    .textInicio{
        margin-left: 80px;
    }
    h3{
        margin-left: 10px;
    }
    .img{
        margin-left: 250px;
        width: 400px;
        height: 350px;
    }
    p{
    
    }
    .container3{
        margin-left: 50px;
    }
    .container5{
        margin-left: 40px;

    }

}

@media screen and (max-width: 768px){
    .img{
        margin-left: 160px;
        width: 300px;
        height: 250px;
    }
    .textInicio{
        margin-left: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 465px){
    .img{
        margin-left: 140px;
    }
    .textInicio{
        margin-left: 40px;
        font-size: 20px;
    }
}
